*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
@font-face {
    font-family: Logo;
    font-size: 14px;
    font-weight: 500;
    src: url('../font/Eanix_open_sans.ttf');
}

/*Configuracoes do header*/
header{
    background-color: rgb(250, 253, 255);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
header > #logo{
    background-color: rgb(255, 255, 255);
    font-family: Logo;
}
header > div > .line_bet_lg{
    background-color: black;
    margin: 1px;
    padding: 1.3px;
}
header > div > ._circle_logo_terminal{
    background-color: blue;
    border-radius: 100px;
    color: white;
    padding: 3.5px;
}
header > nav > ul > li{
    display: inline;
}
header > nav > ul > li > a{
    color: black;
    margin-right: 20px;
}