*{
    margin: 0; padding: 0;
}

/*Configuracoes do HEADER*/
header{
    background-color: rgba(0, 0, 0, 0.062);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;

    padding: 20px 20px 10px 20px;
}
.info_employer_reg{
    background-color: rgb(0, 81, 255);

    text-align: left;
}
.photo_of_employer{
    background-color: white;
    border-radius: 50px;
    margin: auto;
    height: 100px;
    width: 100px;
}
.mode_internal{
    color: red;
    text-align: center;
}
form{
    margin-left: 40%;
    padding: 20px;
}
#person_email{
    margin: 5px;
}
label{
    margin: 10px;
}
header> nav> ul> li{
    display: inline;
}

/*Configuracoes do MAIN*/
.confo_company_dashoud{
    display: grid;
    grid-template-areas: 
    'header_company_position header_company_position header_company_position header_company_position header_company_position header_company_position'
    'left_manu_work_studio_by_sector main_work_area main_work_area main_work_area main_work_area right_hidden_content_work_moreinform'
    ;
}
.header_company_position{
    background-color: rgb(0, 136, 255);
    font-size: 15pt;
    grid-area: header_company_position;
    padding: 10px;
}
.left_manu_work_studio_by_sector{
    background-color: red;
    grid-area: left_manu_work_studio_by_sector;
    padding: 10px;
}
.main_work_area{
    background-color: yellow;
    grid-area: main_work_area;
}
.right_hidden_content_work_moreinform{
    background-color: orange;
    grid-area: right_hidden_content_work_moreinform;
}